header{position: relative;}
#logo {width: 130px; max-height: 35px;}
#signIn {
    width: 176px;
}
#signIn img {margin: 0; padding: 0 5px}
header nav {
    height: 64px;
    width: 100%;
    margin: 8px 0 -8px 0;
}
/* pour afficher le menu avec les marges sur un grand écran */
@media screen and (min-width: 1280px){
    header nav {padding : 5px 16%;}
}
/* Menu de navigation */
header ul {
    padding: 0; margin: 0;
    list-style-type: none;
    text-align: center;
    position: absolute;
}
header li {
    float: left;
    margin: auto; padding: 0;
}
header li a {
    display: inline-block;
    min-width: 60px;
    text-decoration: none;
    padding: 2px 5px 0 0;
    color: #000;
    font-family: 'BBC Reith Sans';
    font-size: 12px;
    font-weight: bold;
}
header ul li ul {
    display: none;
}
header ul li:hover ul {
    display: block;
}
header li:hover ul li {
    float: left;
    background: #FFF;
}
/* sous menu */
.submenu {display: none;}
header nav li:hover .submenu{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    z-index: 1000;
}
.submenu li a{
    padding: px 5px;
    width: 100px;
}

header #logo {height: 60px;}
header #signIn {height: 30px}
/* menu news */
#news {
    background: #b80000;
    color: white;
    padding: 0 17%;
    display: inline-block;
    width: 100%;
    height: 86px;
}
#news h2{
    height: 56Px;
    font-size: 40px;
    margin-top: -4px;
    letter-spacing: 2px;
}
.menuNews {
    height: 36px;
    margin-top: -24px;
}
.menuNews a {
    color: #FFF;
    font-size: 14px;
    margin: 0; padding: 0 5px;
    font-family: 'BBC Reith Sans';
}
.menuNews a:hover {
    border-bottom: 4px solid #FFF;
}
.tiniBorder {
    border-left: 0.1em solid #FFF;
    border-right: 0.1em solid #fff;
}